body {
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10%;
    height: 600px;
    weight: 100px;
    display: flex;
    padding: 20px;
    box-shadow: 10px 10px black;
}

.card-image-desktop{
    border-radius: 10%;
    width: 650px;
    height: 350px;
    object-fit: cover;
}

.card{
}

.card-content{

}

.card-learning{
    background-color: hsl(47, 88%, 63%);
    border-radius: 10%;
    width: 80px;
    height: 30px;
    text-align: center;
    align-items: center;
}

.card-published{

}

.card-title{
    color: hsl(0, 0%, 7%);
}

.card-text{
    color: hsl(0, 0%, 42%);
}

.card-name{
    color: hsl(0, 0%, 7%);
    display: inline;
    margin-left: 10px;
    max-width: 100px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.5px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    text-transform: capitalize;
    text-decoration: none;
}

.card-name-image{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    display: inline;
}